<div>
    <div dojoattachpoint="promptParameterContainer" style="border: 1px solid #B5BCC7; padding: 10px">
        <div style="border-bottom: 1px solid #B5BCC7; padding-bottom: 5px">
            <div style="float: left">
                <label for="values">{%= Sage.Utility.htmlEncode($._promptParameter.promptText) %}</label>
            </div>
            <div style="float: right">
                <label>{%= Sage.Utility.htmlEncode($._promptParameter.parameterFieldName) %}</label>
            </div>
            <div style="clear: both"></div>
        </div>

        <div dojoattachpoint="divMinMaxMessage" style="padding-top: 5px;">
            <span dojoattachpoint="spanMinMaxMessage">&nbsp;</span>
        </div>
        
        <div dojoattachpoint="divMultipleValues" style="padding-top: 5px;">
            <center>
                <table cellspacing="10">
                    <tr>
                        <td align="left">
                            <label>{%= Sage.Utility.htmlEncode($._nlsResources.lblAvailableValues_Caption) %}</label><br />
                            <select dojoattachpoint="msAvailableValues" multiple>
                            </select>
                        </td>
                        <td>
                            <div data-dojo-type="dijit.form.Button"dojoAttachPoint="cmdAdd" dojoAttachEvent="onClick:_cmdAdd_OnClick" >{%= Sage.Utility.htmlEncode(">") %}</div>
                            </br>                            
                            <div data-dojo-type="dijit.form.Button"dojoAttachPoint="cmdRemove" dojoAttachEvent="onClick:_cmdRemove_OnClick" >{%= Sage.Utility.htmlEncode("<") %}</div>
                        </td>
                        <td align="left">
                            <label>{%= Sage.Utility.htmlEncode($._nlsResources.lblSelectedValues_Caption) %}</label><br />
                            <select dojoattachpoint="msSelectedValues" multiple>
                            </select>
                        </td>
                    </tr>                    
                </table>
            </center>
        </div> 

        <div dojoattachpoint="divCustomValues" style="padding-top: 5px; padding-left: 10px">
            <label>{%= Sage.Utility.htmlEncode($._nlsResources.lblEnterValue_Caption) %}</label><br />
            <div style="float:left"><input type="text" dojoType="Sage.UI.Controls.Numeric" dojoAttachPoint="txtCustomValue" style="width:150px" /></div>
            &nbsp;<div data-dojo-type="dijit.form.Button"dojoAttachPoint="cmdAddCustom" dojoAttachEvent="onClick:_cmdAddCustom_OnClick" >{%= Sage.Utility.htmlEncode(">") %}</div>
        </div>

        <div dojoattachpoint="divValidationMessage" style="padding-top: 5px; color:red">
            <span dojoattachpoint="spanValidationMessage">&nbsp;</span>
        </div>

    </div>
</div>