<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="scheduling" type="Sage.Scheduling.Configuration.SchedulingSection, Sage.Scheduling" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="sage.platform">
      <section name="Sage.Platform.Caches.Memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching" />
    </sectionGroup>
  </configSections>
  <appSettings configSource="appSettings.config" />
  <scheduling configSource="scheduling.config" />
  <log4net configSource="log4net.config" />
  <sage.platform>
    <Sage.Platform.Caches.Memcached protocol="Binary">
      <servers>
        <add address="127.0.0.1" port="11211" />
      </servers>
      <socketPool connectionTimeout="00:00:02" deadTimeout="00:00:10" />
      <performanceMonitor factory="Enyim.Caching.Memcached.DefaultPerformanceMonitorFactory, Enyim.Caching" name="SlxJobService" />
    </Sage.Platform.Caches.Memcached>
  </sage.platform>
</configuration>